li {
	list-style-type: none;
	display: inline-block;
}
ul, li, h4{
	margin: 0;
	padding: 0;
}
/*TOP ORANGE*/
#topAdds {
	background-color: #fa6938;
}
#logoAdds {
	display: inline-block;
	width: 15%;
}
#topOffers {
	display: inline-block;
	width: 75%;
}
#topOffers > ul > li {
	padding-right: 3%;
}
/*NAVIGATION*/
#nav {
	width: 100%;
}
#leftNav {
	display: inline-block;
	width: 20%;
}
#leftNav > img {
	width: 70%;
	padding-left: 30%;
	padding-top: 5%;
}

#middleNav {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}
#middleNav > ul {
	width: 100%;
	padding-top: 10%;
	padding-left: 8%;
}
#middleNav > ul > li {
	font-size: 30px;
	margin-right: 4%;
}
#rightNav {
	width: 15%;
	display: inline-block;
	vertical-align: top;	
}
#signReg > a {
	display: inline-block;
	font-size: 10px;
}
#cartSearch > div {
	display: inline-block;
	width: 40%;
}
#cartSearch > input {
	display: inline-block;
	width: 40%;
}

#tieContent {
	background-color: #f4f4f4;

}
#tieImages {
	
}
#tieHeader > h1 {
	text-align: center;

}
.tieAccessories {
	display: inline-block;
	width: 30%;
}
.tieAccessories > img {
	width: 100%;
	
}
#bowTies {
	
}
#pocketSquares {
	
}
#tieBars {
	
}
#tieText {

}
#tieText > h2  {
	text-align: center;
}
#tieText > a {
	display: block;
	text-align: center;
	padding-bottom: 50px;
}
#tieExtraInfo {

}
.tieInfo {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
.tieInfo > img {
	width: 100%;
}


/*FOOTER*/
.listsFooter {
	float: left;
	width: 10%;
}
.listsFooter > h4 {
	font-weight: bold;
	font-size: 12px;
	display: block;
	vertical-align: top;
}
.listsFooter > ul > li {
	display: block;
	font-size: 10px;
}